<div>
    <h1>Bienvenidos con Handlebars </h1>
</div>
<div>
    <a href="http://localhost:8080/productos">Ver stock</a>
    <a href="http://localhost:8080/productoNuevo">Agregar producto</a>
    <a href="http://localhost:8080/chat">chat</a>
</div>

<div>
    <h2>Listado de productos actualizado</h2>
    <table>
        <thead>
           
        </thead>
        <tbody id="productList"></tbody>
    </table>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/productoNuevo.js"></script>