<div class="paginaProductos">
    <div>
        <h1>Agregar un nuevo producto</h1>
    </div>
    <div>
        <a href="http://localhost:8080/productos">Ver stock</a>
        <a href="http://localhost:8080/">Inicio</a>
    </div>
    <div>
        <form action="/api/productos" method="POST" class="formProductos">
            <label for="title">Nombre</label>
            <input id="title" name="title">
            <label for="price">Precio</label>
            <input name="price" id="price">
            <label for="thumbnail">thumbnail</label>
            <input name="thumbnail" id="thumbnail">
            <input type="submit">
        </form>
    </div>
</div> 
<!--<script src="js/productoNuevo.js"></script>-->