<div>
    <h1>Registrate</h1> 
    <div>
        <form id="registro">
            <label>Nombre</label>
            <input name="name">
            <label>Email</label>
            <input name="email">
            <label>Contraseña</label>
            <input type="password" name="password">
            <input type="submit">
        </form>
    </div>
</div>
<div>
    <h2>¿Ya tienes una cuenta?</h2>
    <a href="http://localhost:8080"><button>Ir al login</button></a>
</div>
<script src="/js/register.js"></script>